
.entire{
    padding-top: 150px;
    padding-bottom: 100%;
    width: 90%;
    height: 100%;
    background-color: white;
    border: 1 solid black;
    margin: 0 auto;
    font-family: '2';
}

.userInfo{
    width: 60%;
    height: 500px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    border: 3px solid skyblue;
    border-radius: 20px;
}

.userInfos{
    font-weight: "3";
    font-size: 30px;
}